<launch>
  <!-- No namespace here as we will share this description. 
       Access with slash at the beginning -->
  <param name="robot_description"
    command="$(find xacro)/xacro $(find turtlebot3_description)/urdf/turtlebot3_burger.urdf.xacro" />

  <!-- BEGIN LEADER TURTLEBOT-->
  <group ns="turtlebot1">
    <param name="tf_prefix" value="turtlebot1_tf" />
    <include file="$(find leader_follower_environment)/launch/single_turtlebot.launch" >
      <arg name="init_pose" value="-x 1 -y 0 -z 0" />
      <arg name="robot_name"  value="Leader" />
    </include>
  </group>

  <!-- BEGIN FOLLOWER TURTLEBOT-->
  <group ns="turtlebot2">
    <param name="tf_prefix" value="turtlebot2_tf" />
    <include file="$(find leader_follower_environment)/launch/single_turtlebot.launch" >
      <arg name="init_pose" value="-x 0 -y 0 -z 0" />
      <arg name="robot_name"  value="Follower" />
    </include>
  </group>
</launch>